<html lang="en">
<head>
    <meta charset="Utd-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHOCOLATE</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'fuzzy_queries/css/index.css' %}">
<script type="text/javascript" charset="utf-8">
    function yes()
    {
        window.location = "{% url 'fuzzy_queries:next' 1234 1 %}".replace(/1234/, pos)
    }
    function no()
    {
        window.location = "{% url 'fuzzy_queries:next' 1234 0 %}".replace(/1234/, pos)
    }
</script>


<body>
    <div>
        <large>Ce logement conviendrait-il ?</large>
        <tr>
            <th>Type</th>
            <th>Surface</th>
            <th>Pièces</th>
            <th>Chambres</th>
            <th>Loyer</th>
            <th>Meublé</th>
            <th>Jardin</th>
            <th>Terrasse</th>
            <th>Distance Centre</th>
            <th>Distance Transport</th>
            <th>Distance Commerce</th>
        </tr>
        <tr>
            <td>{{current.type}}</td>
            <td>{{current.surface}}</td>
            <td>{{current.pieces}}</td>
            <td>{{current.chambres}}</td>
            <td>{{current.loyer}}</td>
            <td>{{current.meuble}}</td>
            <td>{{current.jardin}}</td>
            <td>{{current.terrasse}}</td>
            <td>{{current.dist_centre}}</td>
            <td>{{current.dist_transport}}</td>
            <td>{{current.dist_commerce}}</td></div>
        </tr>
    </div>
    <button id="yes" name="yes" onclick="yes()">Oui</button>
    <button id="no" name="no" onclick="no()">Non</button>
</body>
</html>