<html lang="en">
<head>
    <meta charset="Utd-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHOCOLATE</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'fuzzy_queries/css/index.css' %}">
<script type="text/javascript" charset="utf-8">
    const pos = "{{ pos }}"

    function yes()
    {
        console.log("{{ current }}")
        window.location = "{% url 'fuzzy_queries:next' 1234 1 %}".replace(/1234/, pos)
    }
    function no()
    {
        window.location = "{% url 'fuzzy_queries:next' 1234 0 %}".replace(/1234/, pos)
    }
</script>


<body>
    <div>
        <table>
            <caption>Ce logement conviendrait-il ?</caption>
            <tr>
                <th>Type</th>
                <th>Surface</th>
                <th>Pièces</th>
                <th>Chambres</th>
                <th>Loyer</th>
                <th>Meublé</th>
                <th>Jardin</th>
                <th>Terrasse</th>
                <th>Distance Centre</th>
                <th>Distance Transport</th>
                <th>Distance Commerce</th>
            </tr>
            <tr>
                <td>{{current.1}}</td>
                <td>{{current.2}}</td>
                <td>{{current.3}}</td>
                <td>{{current.4}}</td>
                <td>{{current.5}}</td>
                <td>{{current.6}}</td>
                <td>{{current.7}}</td>
                <td>{{current.8}}</td>
                <td>{{current.9}}</td>
                <td>{{current.10}}</td>
                <td>{{current.11}}</td>
            </tr>
        </table>
    </div>
    <button id="yes" name="yes" onclick="yes()">Oui</button>
    <button id="no" name="no" onclick="no()">Non</button>
</body>
</html>