<html lang="en">
<head>
    <meta charset="Utd-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHOCOLATE</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'fuzzy_queries/css/index.css' %}">

<script type="text/javascript" charset="utf-8">
    var marks = []
    for (var i=0 ; i<"{{ length }}" ; i++){
        marks.push(-1)
    }

    function satisfied(pos,value){
        var val = parseFloat(value)
        marks[pos] = val
    }

    function contains(array, obj){
        for (var i=0 ; i<array.length ; i++){
            if (array[i] == obj){
                return true
            }
        }
        return false
    }

    function test_done(){
        console.log(marks)
        if (contains(marks, -1)){
            document.getElementById("warning").innerHTML = "<big>Veuillez noter tous les résultats</big>"
        }
        else{
            var str_marks = ""
            for (var i=0 ; i<marks.length ; i++){
                str_marks = str_marks + marks[i].toString() + ";"
            }
            window.location = "{% url 'fuzzy_queries:user_test_part2' 1234 %}".replace(/1234/, str_marks)
        }
    }

</script>


<body>
    <div>
        <table>
            <caption>Exemples sélectionnés</caption>
            <tr>
                <th>Type</th>
                <th>Surface</th>
                <th>Pièces</th>
                <th>Chambres</th>
                <th>Loyer</th>
                <th>Meublé</th>
                <th>Jardin</th>
                <th>Terrasse</th>
                <th>Distance Centre</th>
                <th>Distance Transport</th>
                <th>Distance Commerce</th>
            </tr>
            {% for apps in examples %}
                <tr>
                    <td>{{apps.type}}</td>
                    <td>{{apps.surface}}</td>
                    <td>{{apps.pieces}}</td>
                    <td>{{apps.chambres}}</td>
                    <td>{{apps.loyer}}</td>
                    <td>{{apps.meuble}}</td>
                    <td>{{apps.jardin}}</td>
                    <td>{{apps.terrasse}}</td>
                    <td>{{apps.dist_centre}}</td>
                    <td>{{apps.dist_transport}}</td>
                    <td>{{apps.dist_commerce}}</td>
                </tr>
            {% endfor %}
        </table>  
    </div>
    <div>
        <p>Veuillez noter les logements ci-dessous, selon leur correspondance à ce que vous recherchez :</p>
        <p id="warning"></p>
        <table>
            <caption>Résultats</caption>
            <tr>
                <th>Type</th>
                <th>Surface</th>
                <th>Pièces</th>
                <th>Chambres</th>
                <th>Loyer</th>
                <th>Meublé</th>
                <th>Jardin</th>
                <th>Terrasse</th>
                <th>Distance Centre</th>
                <th>Distance Transport</th>
                <th>Distance Commerce</th>
                <th>Taux d'appartenance</th>
            </tr>
            {% for apps in immo %}
                <tr>
                    <td>{{apps.type}}</td>
                    <td>{{apps.surface}}</td>
                    <td>{{apps.pieces}}</td>
                    <td>{{apps.chambres}}</td>
                    <td>{{apps.loyer}}</td>
                    <td>{{apps.meuble}}</td>
                    <td>{{apps.jardin}}</td>
                    <td>{{apps.terrasse}}</td>
                    <td>{{apps.dist_centre}}</td>
                    <td>{{apps.dist_transport}}</td>
                    <td>{{apps.dist_commerce}}</td>
                    <td>
                        <ul class="likert">
                            <li> Pas satisfait </li>
                            <li><input type="radio" name={{ forloop.counter0 }} value="1" onclick="satisfied(this.getAttribute('name'),this.getAttribute('value'))" /></li>
                            <li><input type="radio" name={{ forloop.counter0 }} value="2" onclick="satisfied(this.getAttribute('name'),this.getAttribute('value'))"/></li>
                            <li><input type="radio" name={{ forloop.counter0 }} value="3" onclick="satisfied(this.getAttribute('name'),this.getAttribute('value'))"/></li>
                            <li><input type="radio" name={{ forloop.counter0 }} value="4" onclick="satisfied(this.getAttribute('name'),this.getAttribute('value'))"/></li>
                            <li><input type="radio" name={{ forloop.counter0 }} value="5" onclick="satisfied(this.getAttribute('name'),this.getAttribute('value'))"/></li>
                            <li> Très satisfait </li>
                      </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <button id="done" onclick="test_done()">J'ai terminé</button>
    </div>
</body>
</html>