<html lang="en">
<head>
    <meta charset="Utd-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHOCOLATE</title>
</head>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mali:wght@600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Antic&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'fuzzy_queries/css/user_test_part2.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fuzzy_queries/css/header.css' %}">
<script src="{% static 'fuzzy_queries/js/header.js' %}"></script>

<script type="text/javascript" charset="utf-8">
    const pos = "{{ pos }}"
    var compatibles = []

    function compatible(id){
        var nb = parseInt(id)
        if (document.getElementById(nb).checked){
            compatibles.push(nb)
        }
        else{
            compatibles.splice(compatibles.indexOf(nb), 1)
        }
    }

    function next(){
        var strcomp = ";"
        for (var i=0 ; i<compatibles.length ; i++){
            strcomp = strcomp + compatibles[i].toString() + ";"
        }
        window.location = "{% url 'fuzzy_queries:user_test_part2' 1234 5678 %}".replace(/1234/, pos).replace(/5678/, strcomp)
    }
</script>

<body>

    <div class="header">
        <h1 class="header_logo">CHOCOLATE</h1>
    </div>

    <div class="foot-next">
        <button id="next" onclick="next()">Suivant</button>
    </div>

    <div class="padded">
        <p>A quels exemples correspond ce logement ?</p>
        <section>
            <div class="pricingTable10">
                <div class="pricingTable-header">
                    <h4 class="question">Suggestion n°{{nextpos}}</h4>
                    <h3 class="heading">{{current.1}}</h3>
                    <span class="price-value">
                        <span class="currency"></span> {{current.2}}
                        <span class="unit">m<sup>2</sup></span>
                    </span>
                </div>
                <div class="pricing-content">
                    <ul>
                        <li>{{current.3}} pièce(s)</li>
                        <li>{{current.4}} chambre(s)</li>
                        <li>{{current.5}} €</li>
                        {% if current.6 %}
                            <li>Meublé</li>
                        {% else %}
                            <li>Non Meublé</li>
                        {% endif %}
                        {% if current.7 %}
                            <li>Avec jardin</li>
                        {% else %}
                            <li>Pas de jardin</li>
                        {% endif %}
                        {% if current.8 %}
                            <li>Avec terrasse</li>
                        {% else %}
                            <li>Pas de terrasse</li>
                        {% endif %}
                        <li>A {{current.9}} m du centre-ville</li>
                        <li>A {{current.10}} m des transports en communs</li>
                        <li>A {{current.11}} m des commerces</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="padded">
        <h4 class="table-title">Exemples sélectionnés :</h4>
        <section>
            {% for apps in examples %}
                <div class="pricingTable11">
                    <div class="checkbox"><input type="checkbox" id={{ forloop.counter0 }} onclick="compatible(this.getAttribute('id'))" /></div>
                    <div class="pricingTable-header">
                        <h3 class="heading">{{apps.0}}</h3>
                        <span class="price-value">
                            {{apps.1}} <span class="unit">m<sup>2</sup></span>
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li>{{apps.2}} pièce(s)</li>
                            {% if apps.5 %}
                                <li>Meublé</li>
                            {% else %}
                                <li>Non Meublé</li>
                            {% endif %}
                            <li>A {{apps.8}} m du centre-ville</li>
                        </ul>
                        <ul>
                            <li>{{apps.3}} chambre(s)</li>
                            {% if apps.6 %}
                                <li>Avec jardin</li>
                            {% else %}
                                <li>Pas de jardin</li>
                            {% endif %}
                            <li>A {{apps.9}} m des transports en communs</li>
                        </ul>
                        <ul>
                            <li>{{apps.4}} €</li>
                            {% if apps.7 %}
                                <li>Avec terrasse</li>
                            {% else %}
                                <li>Pas de terrasse</li>
                            {% endif %}
                            <li>A {{apps.10}} m des commerces</li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
</div>
</body>
</html>
