<html lang="en">
<head>
    <meta charset="Utd-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHOCOLATE</title>
</head>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mali:wght@600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'fuzzy_queries/css/welcome.css' %}">
<script src="{% static 'fuzzy_queries/js/header.js' %}"></script>
<script src="{% static 'fuzzy_queries/js/fadein.js' %}"></script>

<script type="text/javascript" charset="utf-8">
    function next() {
        window.location = "{% url 'fuzzy_queries:user_test_inter2' %}";
    }
</script>

<body>

    <div class="header">
        <h1 class="header_logo">CHOCOLATE</h1>
    </div>

    <div class="padded"><p class="fadein">Dernière étape ! Pour chaque résultat, veuillez cocher le(s) exemple(s) auxquels il correspond le mieux puis cliquer sur "Suivant".<br>Un logement peut correspondre à tous les exemples comme à aucun.</p>
    <div class="foot"><button class="fadein" onclick="next()">>></button></div></div>
</body>
</html>