<html lang="en">
<head>
    <meta charset="Utd-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHOCOLATE</title>
</head>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mali:wght@600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'fuzzy_queries/css/welcome.css' %}">
<script src="{% static 'fuzzy_queries/js/header.js' %}"></script>
<script src="{% static 'fuzzy_queries/js/fadein.js' %}"></script>

<script type="text/javascript" charset="utf-8">
    function next() {
        window.location = "{% url 'fuzzy_queries:index' %}";
    }
</script>

<body>

    <div class="header">
        <h1 class="header_logo">CHOCOLATE</h1>
    </div>

    <div class="padded"><p class="fadein">Vous êtes sur le point de participer au test d'un prototype de recherche de logement, utilisant la stratégie <a href="https://link.springer.com/chapter/10.1007/978-3-030-50146-4_27">CHOCOLATE</a>.<br>Le test comprend trois parties, dont la première est la sélection d'exemples pour l'algorithme.<br>Des logements vont vous être proposés un par un ; veuillez sélectionnez "oui" s'ils correspondent à ce que vous recherchez, et "non" pour passer. Une fois que vous aurez choisi cinq logements, la deuxième partie commencera.</p>
    <button class="fadein" onclick="next()">>></button></div>
</body>
</html>