body{
    display: flex;
    flex-direction: column;
    min-height: 110vh;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.padded{
    padding-top: 170px;
}

.table-title{
    text-align: center;
}

.resultat{
    margin: 0 1%;
}

button{
    margin: 2%;
}

.question{
    margin: 10px;
    color:#fff;
}

.proposition{
    margin: 0 auto;
    width: 21%;
    padding-top: 170px;
}

.demo10{
    background:#C0BFBF;
    padding:30px 0;
}

.pricingTable10{
    text-align:center;
    width: 100%;
    float: left;
    margin: 2% 2%;
}

.pricingTable10 .pricingTable-header{
    padding: 10px 10px 30px 10px;
    background:#4d4d4d;
    position:relative;
    transition:all .3s ease 0s
}

.pricingTable10 .pricingTable-header .likert{
    color: #fff;
    list-style:none;
    font-size: 13px;
}

.pricingTable10:hover .pricingTable-header{
    background:#09b2c6
}

.pricingTable10 .pricingTable-header:after,.pricingTable10 .pricingTable-header:before{
    content:"";
    width:16px;
    height:16px;
    border-radius:50%;
    border:1px solid #d9d9d8;
    position:absolute;
    bottom:12px
}

.pricingTable10 .pricingTable-header:before{
    left:40px
}

.pricingTable10 .pricingTable-header:after{
    right:40px
}

.pricingTable10 .heading{
    font-size:20px;
    color:#fff;
    text-transform:uppercase;
    letter-spacing:2px;
    margin-top:0
}

.pricingTable10 .price-value{
    display:inline-block;
    position:relative;
    font-size:55px;
    font-weight:700;
    color:#09b1c5;
    transition:all .3s ease 0s
}

.pricingTable10:hover .price-value{
    color:#fff
}
.pricingTable10 .currency{
    font-size:30px;
    font-weight:700;
    position:absolute;
    top:6px;
    left:-19px
}

.pricingTable10 .month{
    font-size:16px;
    color:#fff;
    position:absolute;
    bottom:15px;
    right:-30px;
    text-transform:uppercase
}

.pricingTable10 .pricing-content{
    padding-top:50px;
    background:#fff;
    position:relative;
    border: 2px solid #4d4d4d;
}

.pricingTable10:hover .pricing-content{
    border-color: #09b2c6;
}

.pricingTable10 .pricing-content:after,.pricingTable10 .pricing-content:before{
    content:"";
    width:16px;
    height:16px;
    border-radius:50%;
    border:1px solid #7c7c7c;
    position:absolute;top:12px
}

.pricingTable10 .pricing-content:before{
    left:40px
}

.pricingTable10 .pricing-content:after{
    right:40px
}

.pricingTable10 .pricing-content ul{
    padding:0 20px;
    margin:0;
    list-style:none
}

.pricingTable10 .pricing-content ul:after,.pricingTable10 .pricing-content ul:before{
    z-index: 1;
    content:"";
    width:8px;
    height:46px;
    border-radius:3px;
    background:linear-gradient(to bottom,#818282 50%,#727373 50%);
    position:absolute;
    top:-22px;
    z-index:1;
    box-shadow:0 0 5px #707070;
    transition:all .3s ease 0s
}

.pricingTable10:hover .pricing-content ul:after,.pricingTable10:hover .pricing-content ul:before{
    background:linear-gradient(to bottom,#40c4db 50%,#34bacc 50%)
}

.pricingTable10 .pricing-content ul:before{
    left:44px
}
.pricingTable10 .pricing-content ul:after{
    right:44px
}

.pricingTable10 .pricing-content ul li{
    font-size:15px;
    font-weight:700;
    color:#777473;
    padding:10px 0;
    border-bottom:1px solid #d9d9d8
}

.pricingTable10 .pricing-content ul li:last-child{
    border-bottom:none
}

.pricingTable10 .read{
    display:inline-block;
    font-size:16px;
    color:#fff;
    text-transform:uppercase;
    background:#d9d9d8;
    padding:8px 25px;
    margin:30px 0;
    transition:all .3s ease 0s
}

.pricingTable10 .read:hover{
    text-decoration:none
}

.pricingTable10:hover .read{
    background:#09b1c5
}

.likert li {
    padding: 5px;
}


.foot button{
    background-color: #035381;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 6px;
    border: 2px solid #777473;
    box-shadow: 0 9px #999;
    font-family: 'Press Start 2P', cursive;
    font-size: medium;
}

.foot button:hover {
  background-color: #09b2c6;
  color: white;
}

.foot button:active {
    background-color: #09b2c6;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}

@media screen and (max-width:990px){.pricingTable10{margin-bottom:25px}
}
/* Credit to https://bootsnipp.com/snippets/92erW */